*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* styling my header and navbar */
.navbar {
    background: royalblue; /*im not sure if i want the position to be relative or fixed*/
    position: relative;
    width: 100%;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
    }


.con-box {
     max-width: 1300px;
     padding: 0 80px;
     display: inline;
}

.navbar .con-box{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    }


.navbar .banner a {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-right: 20px; 
}

.navbar .banner a span{
    color: rgb(48, 44, 44);
}

.navbar .menu li a{
    color: rgb(48, 44, 44);
    font-style: italic;
    font-size: 19px;
    font-weight: 650;
} 


.navbar .menu li a:hover{
    color: white;
}

main {
    width: 100%;
    display: inline-block;
    padding: 20px;
}



/* styling main section */
.main {
    display: flex;
    background-image: url(Images/portfolio-background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
    color: whitesmoke;
    min-height: 400px;
    font-family: 'Courier New', Courier, monospace;
}


.main .con-box{
    width: 100%;
    margin: auto 0 auto 10px;
}

.main .main-content .text-1{
     font-size: 30px;
     font: bolder;
     font-weight: 800;
     margin-left: -33px;
     margin-top: -185px;
     margin-bottom: 13px;
}

.main .main-content .text-2{
    font-size: 77px;
    margin-left: -3px;
}
ul li {
    display: inline-block;
    margin-left: 20px;
}

.block-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: royalblue;
}

.block-content {
    width: 100%;
    padding: 20px;
}

.block-title {
    width: 100%;
    border-right: 3px solid black;
    /* border-bottom: 5px solid gray; */
    text-align: left;
    padding: 0 0 5px 0 ;
    margin-bottom: 10px;
}
.primary-project {
    border: 5px solid #0a2c6b;
    position: relative;
    width: 100%;
    margin-left: 20px;
    margin: 20px
}
.project-image {
    display: block;
    width: 100%;
    display: inline-block;
}

.project-title {
    display: inline;
    background-color: #0a2c6b;
    color: #ccc;
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 12px;
    border-right: 2px solid #0a2c6b;
    border-bottom: 2px solid #0a2c6b;
}



.secondary-left-block {
    width: 80%;
    height: 80%;
    padding: 0 10px 20px 0;
    float: none;
    clear: both;
}
.secondary-right-block {
    width: 80%;
    padding: 0 10px 20px 0;
    float: none;
}
.secondary-project {
    border: 5px solid #0a2c6b;
    position: relative;
}

h2.about-about{
    color: white;
    margin-top: 100px;
    
}


h2.contact-contact{
    color: white;
    margin-top: 60px;
    
}

.left {
    width: 14%;
    margin-right: 20%;
    border-right: 3px solid black;
    font-size: 50px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.left-contact{
    border-right: 3px solid black;
    font-size: 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding: 50px;
  
    
}

.right{
    margin-top: -1.5%;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  /*  border: 1px solid black; */
}

.right-work{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: royalblue;
} 

.left-work{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
}

.About {
    padding: 50px;
    height: 350px;
    font-family:  'Times New Roman', Times, serif;
    background-color: royalblue;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.right-text {
    margin-top: 10.5px;
}

.About .right {
    display: flex;
    margin-top: -0.5px;
    font-size: 25px;
    text-indent: 25px;
}

.About img {
    max-height: 200px;
}

.About h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.Work {
    /* margin-bottom: 20px; 
    padding: 50px;
    height: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: royalblue;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.card {
    width: 350px;
}

.card-body {
    width: 350px;
    margin-left: 100px;
}

img  {
    font-size: 25px;
    color: black;
    height: 300px;
    border: 9px solid tan;
    border-style: groove;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-image: url("./Images/personal-cookbook-2.png");
    background-size: cover;
    margin-left: 100px;
   
}

.big-image {
    font-size: 25px;
    color: black;
    height: 400px;
    border: 9px solid tan;
    border-style: groove;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex: 1 1 100%;
    background-image: url("./Images/personal-cookbook-2.png");
    background-size: cover;
}

a {
    color:black;
}

h2{
    color: royalblue;
}

button.primary-link {
    height: 20px;
    width: 60px;
    font-size: 15px;
    margin-left: -590px;
    border-radius: 5px;
}

button.primary-link:hover{
    color: royalblue;
    border: gold;
}

button.row-1 {
    height: 20px;
    width: 60px;
    font-size: 15px;
    margin-left: -260px;
    border-radius: 5px;
}


button.row-1:hover{
    color: royalblue;
    border: gold;
}

button.row-2 {
    margin-left: -230px;
    height: 20px;
    width: 60px;
    font-size: 15px;
    border-radius: 5px;
}

button.row-2:hover{
    color: royalblue;
    border: gold;
}

button.row-3 {
    height: 20px;
    width: 60px;
    font-size: 15px;
    margin-left: -240px;
    border-radius: 5px;
}

button.row-3:hover{
    color: royalblue;
    border: gold;
}


button.row-4 {
    margin-left: -240px;
    height: 20px;
    width: 60px;
    font-size: 15px;
    border-radius: 5px;
}

button.row-4:hover {
    color: royalblue;
    border: gold;
}


.big-image:hover {
    color: black;
    box-shadow: black;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px yellow;
}

.project-row-1{
   color: black;
   height: 300px;
   justify-content: center;
   font-weight: 700;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   flex: 1 0 30%;
   margin: 5%;
   margin-top: 5%;
   background-image: url("./Images/capitolProperties.png");
   background-size: cover;
   border: 9px solid tan;
   border-style: groove;   
}
 a{
color: black;
}




.project-row-1:hover {
    color: red;
    box-shadow: red;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px yellow;
}
.project-row-2{
    height: 300px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 0 25%;
    margin: 5%;
    margin-top: 5%;
    justify-content: center;
    border: 9px solid tan;
    border-style: groove;
    background-image: url("./Images/weatherDashboard.png");
    background-size: cover;
 }
 
.project-row-2:hover {
    color: red;
    box-shadow: red;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px yellow;
}
 .project-row-3{
    height: 300px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5%;
    margin-top: 1%;
    justify-content: center;
    border: 9px solid tan;
    border-style: groove;
    background-image: url("./Images/noteTaker.png");
    background-size: cover;
    flex: 1 0 25%;
 }
 
.project-row-3:hover {
    color: red;
    box-shadow: red;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px yellow;
}
 .project-row-4{
    height: 300px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5%;
    margin-top: 1%;
    justify-content: center;
    align-items: flex-start;
    border: 9px solid tan;
    border-style: groove;
    background-image: url("Images/workScheduler.png");
    background-size: contain;
    flex: 1 0 25%;  
 }

.project-row-4:hover {
    color: red;
    box-shadow: red;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px yellow;
}
.Work img {
    max-height: 200px;
}

.Work h2 {
    margin-bottom: 20px;
    font-size: 30px;
}
.Contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-line: none;
    background-color: royalblue;
    color: #ffffff;
    display: flex;
    margin-left: -1.5rem;
}

.u-list {
    margin: 50px auto;
}

.list {
    display: inline-block;
    text-decoration: underline;
    text-align: center;
    margin: 10px;
    margin-top: -100px;
}
.list a {
    color: white;
}
.list a:hover{
    color: black;
}
.list-1 {
    display: inline-block;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}
.list-1 a {
    color: white;
}
.list-1 a:hover{
    color: black;
}
.list-2 {
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}
.list-2 a {
    color: white;
}
.list-2 a:hover{
    color: black;
}

.Contact .right{
    display: flex;
    flex-direction: row;
}

.Contact img {
    max-height: 200px;
}

.Contact h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.Contact .Contact-text li a{
    color: rgb(48, 44, 44);
    font-style: italic;
    font-size: 19px;
    font-weight: 650;
    margin-left: 25px;
    text-decoration: underline;
}

    @media screen and (max-width: 768px) {
    .navbar .banner a {
        display: block;
        margin-right: 0px;
        font-size: 20px;
    }
    .About .left {
        border-style: none;
        font-size: 20px;
    }
    .About .right {
        display: block;
        font-size: 2.5vh;
    }
    .navbar .menu li a {
        display: block;
        font-size: 10px;
    }
    .Work .left {
        border-style: none;
        font-size: 20px;
    }
    .Contact .left {
        border-style: none;
        font-size: 20px;
    }
    
    .list {
        margin: 0px;
     }

    .list-1 {
        margin: 0px;
     }

    .list-2 {
        margin: 0px;
        text-align: start;
     }
    .main {
        height: 00px;
    }

    .main .main-content .text-1{
        font-size: 25px;
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;

    }

    .main .main-content .text-2{
        font-size: 25px;
        text-align: center;
        margin: auto auto;
    }
}
    @media screen and (max-width: 1042px) {
        .About .right {
            display: block;
            font-size: 2.5vh;
    }
}
